NationalParks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="https://diabloque.github.io/cse445_a4"
            targetNamespace="https://diabloque.github.io/cse445_a4"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
  <xsd:element name="NationalParks" type="ParksType" />

  <xsd:simpleType name="NonEmptyString">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="PhoneType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d{3}-\d{3}-\d{4}" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="StateType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z]{2}" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ZipType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d{5}" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RatingType">
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0.0" />
      <xsd:maxInclusive value="5.0" />
      <xsd:fractionDigits value="1" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="ParksType">
    <xsd:sequence>
      <xsd:element name="NationalPark" type="ParkType" minOccurs="10" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ParkType">
    <xsd:sequence>
      <xsd:element name="Name" type="NonEmptyString" />
      <xsd:element name="Phone" type="PhoneType" maxOccurs="unbounded" />
      <xsd:element name="Address" type="AddrType" />
    </xsd:sequence>
    <xsd:attribute name="Rating" type="RatingType" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="AddrType">
    <xsd:sequence>
      <xsd:element name="Number" type="xsd:positiveInteger" />
      <xsd:element name="Street" type="NonEmptyString" />
      <xsd:element name="City" type="NonEmptyString" />
      <xsd:element name="State" type="StateType" />
      <xsd:element name="Zip" type="ZipType" />
    </xsd:sequence>
    <xsd:attribute name="NearestAirport" type="NonEmptyString" use="required" />
  </xsd:complexType>

</xsd:schema>
