NationalParks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="NationalParks" type="ParksType" />

  <xsd:complexType name="ParksType">
    <xsd:sequence>
      <xsd:element name="NationalPark" type="ParkType" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ParkType">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string" />
      <xsd:element name="Phone" type="xsd:string" maxOccurs="unbounded" />
      <xsd:element name="Address" type="AddrType" />
    </xsd:sequence>
    <xsd:attribute name="Rating" type="xsd:string" use="optional" />
  </xsd:complexType>

  <xsd:complexType name="AddrType">
    <xsd:sequence>
      <xsd:element name="Number" type="xsd:string" />
      <xsd:element name="Street" type="xsd:string" />
      <xsd:element name="City" type="xsd:string" />
      <xsd:element name="State" type="xsd:string" />
      <xsd:element name="Zip" type="xsd:string" />
    </xsd:sequence>
    <xsd:attribute name="NearestAirport" type="xsd:string" use="required" />
  </xsd:complexType>

</xsd:schema>
